/* src/components/PlatformForm/PlatformForm.css */
.logo{
    width: 14rem;
    transition: transform .2s; /* Animation */

}

.logo:hover{
    transform: scale(1.1);

}

.platform-form {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0; /* Entfernt möglichen Standardabstand */

  }
  
  .platform-form h1 {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }

.generate-button {
    margin-top: 16px;
    padding: 12px 24px;
    background-color: #3DAFAC;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .generate-button:hover {
    background-color: #35a3a3;
  }
  