.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #3DAFAC;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    height: 3rem; /* Feste Höhe */
  }
  
  .footer p {
    margin: 0;
    max-width: 600px;
    line-height: 1.4;
  }
  